@namespace Code420.SfBlazorPlus.OrchestratorComponents.OrchestratorTabMananger

@using Code420.SfBlazorPlus.BaseComponents.TabBase
@using Syncfusion.Blazor
@using Syncfusion.Blazor.Navigations
@using System.Diagnostics

<!--
    Scrollable, Popup, MultiRow, Extended
  TabItemActiveBottomBorderColor="#FFF"
-->

<TabBase    @ref=@tabbase
            AllowDragAndDrop=true
            AnimationDuration=600
            AnimationNextEffect=AnimationEffect.SlideRightIn
            AnimationPreviousEffect=AnimationEffect.SlideLeftIn
            EnablePersistence=true
            HeaderPlacement=HeaderPosition.Top
            LoadOn="ContentLoad.Demand"
            OverflowMode=OverflowMode.Scrollable
            ReorderActiveTab=true
            ScrollStep=200
            SelectedItem=@selectedItem
            ShowCloseButton=true

            Added=@MyAddedHandler
            Adding=@MyAddingHandler
            Created=@MyCreatedHandler
            Destroyed=@MyDestroyedHandler
            Dragged=@MyDraggedHandler
            OnDragStart=@MyOnDragStartHandler
            Removed=@MyOnRemovedHandler
            Removing=@MyOnRemovingHandler
            Selected=@MyOnSelectedHandler
            Selecting=@MyOnSelectingHandler
            SelectedItemChanged=@MyOnSelectedItemChangedHandler
            
            CssClass="tab__collection"
            CssId="tab-id"
            
            Height="100%"
            Width="100%"

            TabHeaderBorderWidth="2px"
            TabHeaderBorderColor="darkgreen"
            TabHeaderBorderStyle="solid"
            TabHeaderBorderRadius="0px"
            TabHeaderBackgroundColor="tan"
            TabHeaderInactiveHoveredBorderWidth="1px"
            TabHeaderInactiveHoveredBorderColor="green"
            TabHeaderInactiveHoveredBorderStyle="solid"
            TabHeaderExtraMargin="8px"

            TabItemBorderRadius="4px"
            
            TabItemMargin="4px"
            TabItemHeight="40px"

            TabTextActiveFontSize="14px"
            TabTextActiveFontWeight="400"
            TabTextActiveFontColor="red"
            TabTextInactiveFontSize="14px"
            TabTextInactiveFontWeight="400"
            TabTextInactiveFontColor="green"
            TabTextActiveHoveredFontSize="14px"
            TabTextActiveHoveredFontWeight="400"
            TabTextActiveHoveredFontColor="maroon"
            TabTextInactiveHoveredFontSize="14px"
            TabTextInactiveHoveredFontWeight="400"
            TabTextInactiveHoveredFontColor="darkgreen"


            ScrollButtonFontSize="12px"
            ScrollButtonNormalFontColor="#212529"
            ScrollButtonNormalBackground="transparent"
            ScrollButtonHoveredFontColor="#FFF"
            ScrollButtonHoveredBackground="#5A6268"
            ScrollButtonBorderRadius="4px"
            >

    <TabItems>

        <TabItem CssClass="tab__1">
            <HeaderTemplate>
                Another Tab 1
            </HeaderTemplate>
            <ContentTemplate>
                <p style="padding: 1em;">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore 
                magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo 
                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </p>
            </ContentTemplate>
        </TabItem>
       
    </TabItems>

</TabBase>