@page "/counter"
@using Code420.SfBlazorPlus.CompositeComponents.HelpSystem.CounterHelp

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<!-- Inject the custom help system component for the Register Metrc Tag SPA -->
<CounterHelp    @ref=helpCounter
                HelpButtonDisabled=false>
</CounterHelp>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;
    private CounterHelp helpCounter;

    private void IncrementCount()
    {
        currentCount++;
    }
}
