@namespace Code420.SfBlazorPlus.CustomComponents.StepProgressIndicator

<div class=@CssClass>

    @((MarkupString)spanString)

</div>

<style>

    @(masterCssSelector) {
        display: flex;
        justify-content: center;
        align-items: center;
        height: @ContainerHeight;
        background: @ContainerBackground;
        border-bottom: @ContainerBottomBorder;
    }

    @(masterCssSelector) span {
        display: block;
        height: @IndicatorHeight;
        width: @IndicatorHeight;
        margin: @IndicatorMargin;
        border-radius: 50%;
        background: @InactiveIndicatorBackground;
    }

    @(masterCssSelector) span:nth-child(@ActiveIndicator) {
        background: @ActiveIndicatorBackground;
    }

</style>