@namespace Code420.SfBlazorPlus.CustomComponents.StepProgressIndicator

<!--
    Simple HTML element. The code-behind builds a string of <span></span> pairs,
    one pair for each indicator dot. The string is rendered as markup.

    The styling below takes care of rendering the dots according to the
    component parameters.

    Note that the indicators are in a flexbox.
-->

<div class=@CssClass>

    @((MarkupString)spanString)

</div>

<style>

    @(masterCssSelector) {
        display: flex;
        justify-content: center;
        align-items: center;
        height: @ContainerHeight;
        background: @ContainerBackground;
        border-bottom: @ContainerBottomBorder;
    }

    @(masterCssSelector) span {
        display: block;
        height: @IndicatorHeight;
        width: @IndicatorHeight;
        margin: @IndicatorMargin;
        border-radius: 50%;
        background: @InactiveIndicatorBackground;
    }

    @(masterCssSelector) span:nth-child(@ActiveIndicator) {
        background: @ActiveIndicatorBackground;
    }

</style>