@inherits LayoutComponentBase
@using Code420.SfBlazorPlus.Code.Models.Theme
@inject IThemeManager themeManager

<PageTitle>SfBlazorPlus</PageTitle>


<div class="page">
    @Body
</div>

<style>

    /*
        Set styling for the page container
    */
    .page {
        --fg-color-500: @themeManager.GetThemeItem("fg-color-500");
        --bg-color-100: @themeManager.GetThemeItem("bg-color-100");

        position: relative;
        /*display: flex;*/
        /*flex-direction: column;*/

        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr auto;
        column-gap: 0px;
        row-gap: 0px;

        height: 100vh;
        font-size: 14px;
        color: #FFF;
    }

</style>

